@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --color-ink-0: 255 255 255;
  --color-ink-100: 236 237 248;
  --color-ink-900: 22 21 55;
  --color-canvas-0: 253 254 255;
  --color-primary-600: 129 140 248;
}

.dark {
  color-scheme: dark;
  --color-ink-100: 236 237 248;
  --color-ink-900: 22 21 55;
  --color-canvas-0: 15 23 41;
}

body {
  @apply bg-canvas-0 text-ink-900 dark:bg-canvas-0 dark:text-ink-100 font-serif;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
  
  .animate-float-slow {
    animation: float 12s ease-in-out infinite;
  }
  