.sqs-native-video .native-video-player{padding-top:56.25%}
/*
     FILE ARCHIVED ON 18:43:10 Oct 01, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:24:47 May 11, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.344
  exclusion.robots: 0.052
  exclusion.robots.policy: 0.047
  esindex: 0.005
  cdx.remote: 8.932
  LoadShardBlock: 59.597 (3)
  PetaboxLoader3.datanode: 70.573 (4)
  PetaboxLoader3.resolve: 82.217 (2)
  load_resource: 94.604
*/